
<%= simple_form_for @employee, url: save_roles_admin_employees_path(id:@employee.id) , method: :post, remote: true, html: {id:"add_roles"} do |f| %>
  
    <div id="form_message" class="two fields red" style="margin-left: 15px;display:none;" ></div>

    <% Role.all.each do |role|%>
	    <label class="checkbox">
	      <%= check_box_tag "employee[role_ids][]",role.id,@employee.role_ids.include?(role.id)%> <%= role.name %>
	    </label>
	<% end %>
	<br/>
    
    <div class="field">
      <div class="actions ">
        <div class="ui button primary" id="commition" >提交</div>
        <div class="ui cancel button">取消</div>
      </div>
    </div>

<% end %>


