$('#report_modal').remove();
$('body').append('<div class="ui modal" id="report_modal"><i class="close icon"></i><h2 class="ui dividing header">添加报表</h2><%= j(render 'new') %></div>');
$('#report_modal').modal('setting', {autofocus: false}).modal('show');
$('select.dropdown').dropdown();

// add line of price
var add_new_line = function(){
  //insert new line of price
  var last_field = $(".tow.fields").last();
  last_field.after(last_field.prop('outerHTML'));
  $(".select.dropdown").dropdown();
  $('#report_modal').modal('refresh');
  //change id number
  var new_field = $(".tow.fields").last(),
      new_number = parseInt($(".tow.fields").last().attr("field_index")) + 1,
      number_reg = /\d+/;
  new_field.attr('id', '');
  new_field.attr("field_index", new_number);
  new_field.find("input").each(function(){
    $(this).val("");
    if($(this).attr('name').match(number_reg)){
      $(this).attr('name', $(this).attr('name').replace(number_reg, new_number));
      $(this).attr('id', $(this).attr('id').replace(number_reg, new_number));
    }
  });
  new_field.find("select").each(function(){
    if($(this).attr('name').match(number_reg)){
      $(this).attr('name', $(this).attr('name').replace(number_reg, new_number));
      $(this).attr('id', $(this).attr('id').replace(number_reg, new_number));
    }
  });
  $("#specs_modal_<%=  @temporary_report.id%>").modal('refresh');
};

// 添加关联报表
var add_new_report = function(){
  $('#parent_reports').append('<div class="two fields spec"> <div class="field"><textarea placeholder="行字断" name="parent_report[columns][]" ></textarea></div><div class="field"><textarea placeholder="SQL脚本" name="parent_report[base_sql][]"></textarea></div><i class="ui icon close red spec_close"  style="margin-top: 28px;"></i></div>');
}

// TODO表单校验
  $("#commition").click(function(){
    $("#new_temporary_report").submit(); 
  })
  
// 删除搜索配置条件
  $('#new_temporary_report').on('click','.spec_close',function(){
    $(this).parents(".spec").remove();
  });


// remove exists price
var removePrice = function(id){
  if(confirm("确定要删除这一条规格吗？")){
    $.get('<%= nil %>'+ '?spec_id='+ id);
    $("#spec_of_"+ id).remove();
  }
  
};


