$('#campaign_modal').remove();
$('body').append('<div class="ui modal" id="campaign_modal"><i class="close icon"></i><h2 class="ui dividing header">修改广告计划</h2><%= j(render 'edit') %></div>');
$('#campaign_modal').modal('setting', {autofocus: false}).modal('show');
$('select.dropdown').dropdown();
$('#calendar1').calendar({type: 'date'});
$('#calendar2').calendar({type: 'date'});
$('#initiator').val("<%= @employee&.name %>")

// TODO表单校验
$("#commition").click(function () {
    if ($("#ad_campaign_name").val() != "") {
        $("#edit_ad_campaign_<%= @campaign.id %>").submit();
    } else {
        $("#form_message").text("请完善信息！").show(200);
    }
});
