body {
    padding-top: 70px;
    background-color: #FFFFFF;
    font-size: 12px;
}

.ui.container {
    width: auto;
}

.open_menu {
    width: 230px;
}

.open_menu .ui.vertical.menu .item i.icon {
    font-size: 1rem;
}

.open_menu .ui.vertical.menu .item {
    font-size: 1rem;
}


/*.open_menu .ui.vertical.menu .item:before{
    height: 0!important;
}*/

.open_menu .ui.vertical.menu .item .dropdown.icon {
    display: block;
}

.open_menu .ui.menu:after {
    display: none;
}

.close_menu {
    width: 50px !important;
}

.close_menu ul li {
    list-style-type: none;
}

.close_menu .ui.vertical.menu .item i.icon {
    font-size: 20px;
}

.close_menu .ui.vertical.menu .item {
    height: 50px;
    line-height: 50px;
    padding: 0 10px !important;
    font-size: 0 !important;
}

.close_menu .ui.vertical.menu .item .dropdown.icon {
    display: none;
}

.close_menu #verticalMenu .child .item {
    padding: 5px 5px 5px 20px !important;
}

.close_menu + #content {
    padding-left: 80px;
}

.close_menu ul .active .main_menu {
    display: block;
    position: relative;
    top: 10px;
    /* left: 37px; */
    width: 230px;
    height: 40px;
    font-size: 1rem;
    color: #fff;
    border-top-right-radius: 4px;
    background-color: #1e282c;
    text-indent: 25px;
    line-height: 40px;
    text-align: left;
    margin-left: 37px;
}

.close_menu ul .active .child {
    display: block !important;
    position: absolute;
    left: 50px;
    width: 230px;
    border-bottom-right-radius: 4px;
    background-color: #2c3b41;
}

.close_menu ul .active .child a {
    height: 30px !important;
}

.close_menu ul .active .child span {
    font-size: 1rem;
    color: #fff;
}

.close_menu ul .active .actives span {
    font-size: 1rem;
    color: #3c8dbc !important;
}

.ui.vertical.menu .item > i.icon {
    width: 1.18em;
    float: left;
    margin: 0em 0.5em 0em 0em;
}

.ui.menu .active.item >.dropdown.icon {
    transform: rotate(360deg);
}

.ui.menu .item >.dropdown.icon {
    transform: rotate(90deg);
}

.right {
    float: right !important;
}

.pointer {
    cursor: pointer;
}

.no.rounded {
    border-radius: 0 !important;
}

.ui.fixed.top.menu {
    background-color: #3c8dbc;
    z-index: 999;
}

.ui.fixed.top.menu .item {
    color: #FFFFFF;
}

.ui.fixed.top.menu .ui.popup .item {
    color: #000000;
}

.ui.white.header {
    color: #FFFFFF;
}

.side.menu {
    background-color: #222d32;
    width: 230px;
    height: 1200px;
    padding: 10px 0px 0px 0px;
    position: fixed;
    z-index: 999;
    left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.side.menu.hide {
    left: -255px;
}

.side.menu.hide + #content {
    padding-left: 25px;
}

#verticalMenu .child .item {
    padding: 5px 5px 5px 30px !important;
}

#verticalMenu .child {
    display: none;
}

.close_menu ul,
.open_menu ul {
    padding-left: 0;
}

.close_menu .active ul li {
    position: relative;
    margin: 0;
    padding: 0;
}

/*.close_menu .active {
    position: relative;
}*/

.color_2185D0{
    color: #2185D0;
}

#verticalMenu .actives {
    display: block;
}

#verticalMenu .actives {
    color: #3c8dbc !important;
}


/*#verticalMenu .close_menu ul .actives .child span{
    color: #3c8dbc;
}*/

@media (max-width: 768px) {
    .side.menu.hide + #content {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .side.menu {
        width: 50px;
    }
}

.side.menu .ui.vertical.menu {
    border-radius: 0;
    box-shadow: none;
    border: none;
    /* max-height: 320px;
  overflow-y: scroll;*/
}

@media (max-width: 768px) {
    .side.menu .ui.vertical.menu {
        max-height: 80vh;
    }
}

.side.menu .ui.vertical.menu .item {
    background-color: #222d32;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border-left: 3px solid transparent;
}

.side.menu .ui.vertical.menu .active {
    border-left-color: #3c8dbc;
}

.close_menu .ui.vertical.menu .active .item {
    line-height: 50px;
}

.close_menu .ui.vertical.menu .active .child .item {
    line-height: 20px;
}

.side.menu .ui.vertical.menu .item:hover {
    background-color: #222d32;
    color: #ffffff;
    border-left: 3px solid #3c8dbc;
}

@media (max-width: 768px) {
    .side.menu .ui.vertical.menu .item {
        padding: 10px;
        font-size: 0;
    }
    .side.menu .ui.vertical.menu .item i.icon {
        float: none;
        margin: 5px 5px 5px -3px;
        font-size: 20px;
    }
    .child .item {
        padding-left: 20px !important;
    }
}

#content {
    padding-right: 25px;
    padding-left: 265px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 768px) {
    #content {
        padding-left: 60px;
        padding-right: 10px;
    }
    .child .item {
        padding-left: 20px !important;
    }
    .side.menu .ui.vertical.menu .item .dropdown.icon {
        display: none;
    }
}

#content .chart.element {
    width: 100%;
    height: 200px;
    font-size: 11px;
}

#content #background-profile {
    background-image: url(../img/blur.jpg);
    border: none;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginBackground {
    padding-top: 10%;
    background-color: #3986b3;
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}


/*.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {*/

.active .hvr-buzz-out {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* Buzz Out */

@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.message_alert {
    position: fixed;
    bottom: -500px;
    right: 50px;
    width: 260px;
    height: auto;
    margin-right: 5px;
    background-color: #ed4835;
    border-radius: 5px;
}

.message_alert .title {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
}

.message_alert .title span {
    line-height: 34px;
}

.message_alert .title .remove {
    float: right;
    margin-top: 7px;
}

.message_alert .content {
    width: 250px;
    min-height: 90px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding-top: 1px;
}

.message_alert .content ul {
    padding-left: 10px;
}

.message_alert .content ul li {
    margin-top: 10px;
    list-style-type: none;
}

.message_alert .content ul li:last-child {
    padding-bottom: 10px;
}

.message_alert .content ul li a {
    font-size: 14px;
    color: #454545;
}


/*自定义颜色*/

.table_color_f8ffff {
    background-color: #f8ffff !important;
}

.table_color_e6f7fa {
    background-color: #e6f7fa !important;
}

.table_color_f9fafb {
    background-color: #f9fafb;
}

.table_color_fff {
    background-color: #fff !important;
}

.red {
    color: #ff2232;
}

.color_a9d5de {
    color: #a9d5de;
}

.color_72a9dc {
    color: #72a9dc;
}

.color_ffca11 {
    color: #ffca11;
}

.color_a9d5de:hover {
    color: #a9d5de;
}

.color_8c8d8d {
    color: #8c8d8d;
}

.color_ff0000 {
    color: #ff0000;
}

.color_ff0000:hover {
    color: #ff0000;
}

.color_3c8dbc {
    color: #3c8dbc;
}

.color_9c9c9d {
    color: #9c9c9d;
}

.color_454545 {
    color: #454545 !important;
}

.color_666 {
    color: #666;
}

.color_fe9b00 {
    color: #fe9b00;
}

.color_2185d0 {
    color: #2185d0;
}

.color_43ba39 {
    color: #43ba39;
}

.bg_F3F4F5 {
    background: #F3F4F5 !important;
}

.ui.tabular.menu .active.item {
    color: #3c8dbc;
}


/*布局*/

.mr_w_5 {
    margin-right: 5px !important;
}

.mr_w_10 {
    margin-right: 10px !important;
}

.mr_w_15 {
    margin-right: 15px !important;
}

.mr_w_20 {
    margin-right: 20px !important;
}

.mr_w_30 {
    margin-right: 30px !important;
}

.mb_14 {
    margin-bottom: 14px !important;
}

.mb_0 {
    margin-bottom: 0px !important;
}

.mt_0 {
    margin-top: 0px !important;
}

.mt_n_20 {
    margin-top: -20px;
}

.mt_20 {
    margin-top: 20px !important;
}

.mr_40 {
    margin-right: 40px;
}

.pt_4 {
    padding: 4px 14px !important;
}

.pt_5 {
    padding-top: 5px !important;
}

.pb_5 {
    padding-bottom: 5px !important;
}

.padding_5 {
    padding: 5px !important;
}

.border_top_0 {
    border-top: 0 !important;
}

.br_upper_about_0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.br_lower_about_0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui.basic.white.buttons .button,
.ui.basic.white.button {
    background: #FFFFFF !important;
}

.ui.basic.white.buttons .button:hover,
.ui.basic.white.button:hover {
    box-shadow: 0px 0px 0px 1px #1678c2 inset !important;
    color: #1678c2 !important;
}

.ui.basic.white.button .actives,
.ui.basic.white.button.actives {
    box-shadow: 0px 0px 0px 1px #1678c2 inset !important;
    color: #1678c2 !important;
}

.w-125-text-align-r {
    width: 125px !important;
    text-align: right;
}

.text_align_right {
    text-align: right;
}

.text_align_left {
    text-align: left;
}

.text_align_center {
    text-align: center;
}

.ui.attached.header {
    margin: -14px -14px 14px -14px !important;
    border: 0;
}

.header {
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    padding: 1.25rem 1.5rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.footer_btn {
    background: #F9FAFB;
    padding: 1rem 1rem;
    text-align: right;
    margin-top: -20px;
    margin-bottom: 1rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: .28571429rem;
    border-top: 0;
}


/*重置css*/

#archives .ui .form input,
#archives .ui .form textarea {
    display: none;
}

.ui[class*="top attached"].menu {
    border-top: 0;
}


/*生成订单*/

.ui .dimmable .card {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 0px 0px #FBBD08;
}

.address {
    border: 2px solid #e0e0e0;
    font-size: 14px;
    border-radius: 0.28571429rem;
}

.address .name {
    font-size: 1.5rem;
    color: #666;
}

.actives_border {
    border: 2px solid #FBBD08;
    border-radius: 0.28571429rem;
}


/*登录*/

.login_container .logo {
    height: 100px;
    background: url(/assets/admin-logo.png) no-repeat center;
}

.login_container .ui.segments:not(.horizontal)>.segment:last-child {
    padding-top: 35px;
    border-radius: .28571429rem;
}

.login_container .login_btn {
    background-color: #3c8dbc !important;
}

@media only screen and (min-width: 1200px) {
    .login_container {
        width: 1127px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .login_container {
        width: 933px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto !important;
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
}

.ui.modal>.close {
    cursor: pointer;
    position: absolute;
    top: 1.0535rem !important;
    right: 1rem !important;
    z-index: 1;
    opacity: .8;
    font-size: 1.25em;
    color: #555;
    width: 2.25rem;
    height: 2.25rem;
    padding: .625rem 0 0 0;
}

.border_top_blue {
    border-top: 2px solid #2185D0;
    border-radius: .28571429rem;
}

.button_group {
    border: 0 !important;
    box-shadow: 0 0 rgba(34, 36, 38, .15) !important;
    background-color: transparent !important;
}

.button_group a {
    height: 36px;
    min-width: 50px;
    font-weight: lighter !important;
}

.button_group .drop_down {
    height: 36px;
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    border-top: 1px solid rgba(34, 36, 38, .1);
    border-radius: .28571429rem;
}

.independent_drop_down {
    width: 70px;
    height: 36px;
    line-height: 36px;
    border-radius: .28571429rem;
    text-align: center !important;
    border: 1px solid rgba(34, 36, 38, .1);
}

.whmall_cover {
    display: none;
    position: fixed;
    top: 0em !important;
    left: 0em !important;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.whmall_slide {
    position: fixed;
    right: -926px;
    top: 60px;
    bottom: 0;
    z-index: 1000;
    background: #222d32;
    background: -moz-linear-gradient(top, #222d32, #585e6f 30%, #697286);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #222d32), color-stop(.3, #565d6d), color-stop(1, #697286));
}

.whmall_slide .slide-nav {
    height: 35px;
    position: relative;
    z-index: 2;
}

.whmall_slide .slide-nav .slide-close {
    width: 24px;
    height: 24px;
    line-height: 28px;
    position: absolute;
    right: 16px;
    top: 12px;
    color: #939aab;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.whmall_slide .slide-scroll-el {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

.whmall_slide .ui-scrollbar {
    overflow: hidden!important;
    padding: 0!important;
    position: relative;
}

.whmall_slide .slide_body {
    border: 0!important;
    box-sizing: content-box!important;
    height: auto;
    left: 0!important;
    margin: 0;
    max-height: none!important;
    max-width: none!important;
    /* overflow: scroll!important;*/
    padding: 0;
    position: relative!important;
    top: 0!important;
    width: auto!important;
    padding: 0 14px 0 20px;
}

.whmall_slide .slide_body .detail-tit {
    color: #fff;
}

.whmall_slide .slide_body .detail-tit h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
}

.whmall_slide .slide_body .detail-tit h4 span {
    margin-right: 20px;
}

.whmall_slide .slide_body .detail-tit .info-txt {
    color: #939aab;
}

.whmall_slide .slide_body .detail-tit .info-txt span {
    margin-right: 20px;
}

.whmall_slide .slide_body .detail-tit .operation {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: right;
}

.whmall_slide .slide_body .detail-tit .operation a {
    margin-right: 20px;
}

.whmall_slide .slide_body .content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 90px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.whmall_slide .slide_body .content .tit {
    position: relative;
    height: 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 9px;
}

.whmall_slide .slide_body .content .tit span {
    position: absolute;
    left: -20px;
    top: 0;
    border-left: 8px solid #fc923f;
    padding-left: 12px;
    color: #333;
}

.whmall_slide .slide_body .content .detail-item {
    position: relative;
    padding: 0 0 15px 125px;
}

.whmall_slide .slide_body .content .detail-item .item-tit {
    width: 103px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}

.whmall_slide .slide_body .content .detail-item .item-con {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 19px;
    white-space: pre-wrap;
}

.whmall_slide_active {
    width: 926px;
    top: 0px;
    bottom: 0px;
    z-index: 5000;
    right: 0px;
}

.slide_body .scroll_bar {
    width: 880px;
}

.zUIpanelScrollBox,
.zUIpanelScrollBar {
    width: 10px;
    top: 4px;
    right: 2px;
    border-radius: 5px;
}

.zUIpanelScrollBox {
    background: black;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.zUIpanelScrollBar {
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
/*下拉详情信息*/
.down_details {
    padding: 0;
    background-color: #e6e6e6;
    padding: 10px;
    overflow: hidden;
}

.down_details .border_bottom_blue {
    border-bottom: 2px solid #2185D0;
}

.down_details .left_content {
    width: 28%;
    padding-right: 2%;
    float: left;
}

.down_details .left_content .title {
    height: 35px;
    background-color: #4c9cd8;
    color: #fff;
    text-align: center;
    border: 1px solid #cfcfcf;
    line-height: 35px;
}

.down_details .left_content .content {
    height: auto;
    background-color: #fff;
    color: #000000;
    padding: 15px;
    border: 1px solid #cfcfcf;
    text-align: left;
}
.orders_upload{
    position: absolute;
    right: 8px;
    top: 6px;
}
.ui.secondary.pointing.menu .active.item{
    border-color: #2185D0 !important;
    color: #2185D0 !important;
    font-weight: normal;
}

.dropdown_active{
    border-color: #2185D0 !important;
    color: #2185D0 !important;
}
.ui.secondary.menu .dropdown.item>.menu, .ui.text.menu .dropdown.item>.menu{
    margin-top: 0;
}



.ui.table_btn{
       padding: 8px 15px 8px 15px;
       margin-top: -5px;
       margin-bottom: -5px;
   }

/*用户记录*/
.ui.feed>.event {
    padding: 0;
}
i.message_icon{
    width: 33px !important;
    height: 33px;
    background-color: #2185D0 !important;
    color: #fff !important;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;   
    /* position: absolute;
    z-index: 22;*/
}
.message_icon2{
    width: 46px !important;
    height: 46px;
    background-color: #FBBD08 !important;
    color: #FFF !important;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;    
    position: absolute;
    z-index: 22;
    margin-left: -6px;
}
.ui.feed>.event>.label {
    position: relative;
}
.ui.feed>.event>.label:after {
    content: "";
    width: 3px;
    background-color: #f5f5f5;
    height: 100%;
    position: relative;
    top: 0;
    left: 16px;
}
.ui.feed>.event:last-child>.content {
    padding-bottom: 14px;
}
.ui.feed > .event > .content .summary {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}